<li id="attachment_<%= attachment.id %>" class="attachment">
  <div><%= image_tag "admin/minus.png", :alt => "Delete", :class => 'delete' %><%= image_tag "admin/move_higher.png", :alt => "Move Higher", :class => 'higher' %><%= image_tag "admin/move_lower.png", :alt => "Move Lower", :class => 'lower' %></div>
  <% unless attachment.thumbnails.empty? %>
    <%= link_to image_tag(attachment.thumbnails.first.public_filename),
      attachment.public_filename, :class => 'thumbnail' %>
    <% end %>
    <% unless attachment.title.blank? %>
		<div><%= h attachment.short_title %></div>
	<% end %>
	<%= link_to attachment.short_filename, attachment.public_filename %>
</li>
