<li id="attachment_<%= attachment.id %>" class="attachment clearfix">
<div>
  <%= image_tag "admin/minus.png", :alt => "Delete", :class => 'delete' %>
  <% unless attachment.first? %>
  <%= image_tag "admin/move_higher.png", :alt => "Move Higher", :class => 'higher' %>
  <% end %>
  <% unless attachment.last? %>
  <%= image_tag "admin/move_lower.png", :alt => "Move Lower", :class => 'lower' %>
  <% end %>
</div>
<% unless attachment.thumbnails.empty? %>
<%= link_to image_tag(attachment.public_filename("icon")),
attachment.public_filename, :class => 'thumbnail' %>
<% end %>
<% unless attachment.title.blank? %>
<p><%= h attachment.short_title %></p>
<% end %>
<%= link_to attachment.short_filename, attachment.public_filename %>
</li>
