%li{:id => "attachment_#{attachment.id}", :class =>"attachment clearfix"}
  = hidden_field_tag "page[attachments_attributes][#{attachment_counter}][id]", attachment.id
  = hidden_field_tag "page[attachments_attributes][#{attachment_counter}][_destroy]", "0"
  = hidden_field_tag "page[attachments_attributes][#{attachment_counter}][position]", attachment.position
  - unless attachment.first? && attachment.last?
    = image_tag 'admin/drag_order.png', :alt => "Drag handle", :title => "Drag to change order", :class => 'drag_order'
  %div= image_tag "admin/minus.png", :alt => "delete", :class => 'delete'
  - unless attachment.thumbnails.empty?
    = link_to image_tag(attachment.public_filename("icon")),  attachment.public_filename, :class => 'thumbnail'
  - unless attachment.title.blank?
    %p= h attachment.short_title
  = link_to attachment.short_filename, attachment.public_filename