%h1 Page Attachments
%p Below you'll find a list of all page attachments on your site. You may click to view the attachment file, click to edit the attached page, or use the sample code as a starting point for displaying a particular file on a page.
%table.index
  %tr
    %th Attachment
    %th Page
    %th Code
  - unless @attachments.blank?
    - @attachments.each do |attachment|
      %tr
        %td= link_to((attachment.title.blank? ? attachment.filename : attachment.title), attachment.public_filename)
        %td= link_to attachment.page.title, page_edit_url(attachment.page)
        %td
          - if attachment.filename.match(/\.(jpg|gif|png|jpeg|tiff?)$/)
            - code = %{<r:attachment name="#{attachment.filename}" url="#{attachment.page.url}"><r:image /></r:attachment>}
          - else
            - code = %{<r:attachment name="#{attachment.filename}" url="#{attachment.page.url}"><r:link /></r:attachment>}
          %input{:type => 'text', :size => 40, :value => code}
= will_paginate @attachments