%h1 Page Attachments
%table.index
  %tr
    %th Attachment
    %th Page
    %th Code
  - unless @attachments.blank?
    - @attachments.each do |attachment|
      %tr
        %td= link_to((attachment.title.blank? ? attachment.filename : attachment.title), attachment.public_filename)
        %td= link_to attachment.page.title, page_edit_url(attachment.page)
        %td
          - if attachment.filename.match(/\.(jpg|gif|png|jpeg|tiff?)$/)
            - code = %{<r:attachment:image name="#{attachment.filename}" url="#{attachment.page.url}" />}
          - else
            - code = %{<r:attachment name="#{attachment.filename}" url="#{attachment.page.url}">...your code here...</r:attachment>}
          %input{:type => 'text', :size => 40, :value => code}